.background{
    background-image: url(../images/drops4.jpg);
    background-size: cover;
    overflow: scroll;
}
#descrition{
text-transform: capitalize;
}
.box{
    position: relative;
    margin: 6px 6px;
    border: 1px solid #86b7fe;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: aliceblue;
    opacity: 0.99;
    width: auto;
    max-width: 97%;
}
.longFirst {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 100%;
}
.longSecond{
    border-radius: 0px;
}
.longThird{
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.noPadding{
    padding: 0px;
}
.PaddingL{
    padding-left: 5px;
}
.PaddingR{
    padding-right: 5px;
}
.enterYourCity{
    width: 100%;
    display: inline-block;
    height: 100%;
}
.submitButton{
    width: auto;
}
.buttonSubmit {
    background-color: #86b7fe;
    border-color: #86b7fe;
    width: 100%;
    margin-left: 0;
}
.buttonSubmit:hover {
    background-color: #82b0f5
}
.fixedHeight{
    height: 90%;
}

.main {
    margin-top: 0px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    color: #000000;
    text-transform: capitalize;
}
.cityHolder{
    white-space: nowrap;
}
.currentWeatherSign{
    color: #86b7fe;
}
.mainCityWeather{
    color: black;
    font-family: 'Quicksand', sans-serif;
    padding-left: 12px;
}
.locationSign{
    font-size: large;
    text-align: left;
    padding-bottom: 6px;
    height: 20px;
}
.days{
    margin: 20px 0px 0px 16px;
    padding: 0px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    max-width: max-content;
    display: flex;
    justify-content: center;
}
.temperature{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin: 10px auto;
    width: 90px;
    padding: 10px 0px 10px 0px;
}
.degreesChangeLink{
    font-size: small;
}
.miniBox {
    margin: 0px 22px 22px 0px;
    padding: 0px 0px 0px 0px;
}
.weatherSigns{
    display: inline-block;
    width: 80px;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    margin: 0 auto;
    color: #86b7fe;
    background-color: white;
}
.source{
    font-size: small;
    text-align: left;
    margin-left: 20px;
}
.lastUpdatedAt::first-letter{
    text-transform: capitalize;
    margin: 0px;
    padding: 9px 0px 0px 0px;
}
#icon{
    display: block;
}
.locationInfo{
    margin-top: 15px;
}
.mainCityWeather .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.mainCityWeather .active:hover {
  text-decoration: none;
}
.weather-forecast-max{
    color: #000000;
}
.weather-forecast-min{
    color: #000000;
    opacity: 0.5;
}


